.circle {
    position: relative;
    top: 0;
    left: 0;
    width: 100px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 1px #E1EEFC;
    border-radius: 50%;
}

.circle img {
    position: absolute;
    top: 17px;
    left: 17px;
    right: 17px;
}

.feature {
    width: 350px;
    height: 361px;
    background: #FFFFFF;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.02);
}

.feature:hover {
    color: #fff;
    background: #ED7117;
    box-shadow: 2px 2px 4px 4px rgba(0, 0, 0, 0.02);
    border-radius: 100px 0px;
}

.feature:hover p{
    color: #fff !important;
}

.circle-2{
    position: relative;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #ED7117;
}

.circle-2 img{
    position: absolute;
    top: 15px;
    left: 20px;
    right: 20px;
}